<!DOCTYPE html>
<html>
  <head>
    <link rel="script" href="">
  </head>

    <div class="center">
      <h1>Fake Whatsappp</h1>
    <br>
    <div>
      <input id="offsetValue" (keyup)="$event.keyCode == 13 && getOffset(offset)" #offset>
      <button class="buttonOffset btn-success" (click)="getOffset(offset)">Imposta</button>
      encryption key: {{offsetVal}}
    </div> 
    <br>
      <form #myForm="ngForm" (submit)="sendMessage(myForm.value)" novalidate>
        
        <div>
          <input id="cesar" type="radio" value="cesar" name="messageType" ngModel>
          <label for="cesar">Cesar</label>
        </div>

        <div>
          <input id="t-des" type="radio" value="t-des" name="messageType" ngModel>
          <label for="t-des">Triple Des</label>
        </div>

        <div>
          <input id="aes" type="radio" value="aes" name="messageType" ngModel>
          <label for="aes">AES</label>
        </div>
        <br>
        <input type="text" id="message" [(ngModel)]="message" name="message">
      <button class="encrBtn btn-warning" type="submit">Encrypt e invia</button>
      </form>
      <br>
      
      <hr>
      <div *ngFor="let message of messageList">
        {{message}}
      </div>
    </div>
</html>